{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="cpassword" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="New password(again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
    {% if prompt == 1 %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error:-</strong>{{ Error }}
    </div>
    {% else %}
    {% endif %}
{% endblock %}