{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container mt-4">
    <div class="row">
        <style>
            .card {
                border: none;
                transition: transform 0.3s, box-shadow 0.3s;
            }
            .card:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .card-icon {
                font-size: 4rem;
                color: #f39c12;
            }
            .card-title {
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: bold;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        </style>

        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/sword" class="list-group-item list-group-item-action">
                    <i class="fas fa-khanda card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Sword</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/axe" class="list-group-item list-group-item-action">
                    <i class="fas fa-terminal card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Axe</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/shield" class="list-group-item list-group-item-action">
                    <i class="fas fa-shield-alt card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Shield</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/scythe" class="list-group-item list-group-item-action">
                    <i class="fas fa-chevron-up card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Scythe</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/pickaxe" class="list-group-item list-group-item-action">
                    <i class="fas fa-hammer card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Pickaxe</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/spear" class="list-group-item list-group-item-action">
                    <i class="fas fa-pen-fancy card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Spear</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/potions" class="list-group-item list-group-item-action">
                    <i class="fas fa-flask card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Potions</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/books" class="list-group-item list-group-item-action">
                    <i class="fas fa-book card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Books</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/gold" class="list-group-item list-group-item-action">
                    <i class="fas fa-coins card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Gold</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-white p-3 rounded shadow-sm">
                <a href="/item/ingredients" class="list-group-item list-group-item-action">
                    <i class="fas fa-leaf card-icon"></i>
                    <div class="card-body">
                        <h5 class="card-title">Ingredients</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
