{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="list-group">
    <style>
        a{
            font-size: x-large;
            font-weight: bolder;
        }
    </style>
    <a href="/sword" class="list-group-item list-group-item-action">
        <img src = "/static/sword.gif">
        Sword
        <img src = "/static/sword.gif">
    </a>
    <a href="/axe" class="list-group-item list-group-item-action">
        <img src = "/static/axe.gif">
        Axe
        <img src = "/static/axe.gif">
    </a>
    <a href="/shield" class="list-group-item list-group-item-action">
        <img src = "/static/shield.gif">
        Shield
        <img src = "/static/shield.gif">
    </a>
    <a href="/scythe" class="list-group-item list-group-item-action">
        <img src = "/static/scythe.gif">
        Scythe
        <img src = "/static/scythe.gif">
    </a>
    <a href="/pickaxe" class="list-group-item list-group-item-action">
        <img src = "/static/pickaxe.gif">
        Pickaxe
        <img src = "/static/pickaxe.gif">
    </a>
    <a href="/spear" class="list-group-item list-group-item-action">
        <img src = "/static/spear.gif">
        Spear
        <img src = "/static/spear.gif">
    </a>
    <a href="/potions" class="list-group-item list-group-item-action">
        <img src = "/static/potion.gif">
        Potions
        <img src = "/static/potion.gif">
    </a>
    <a href="/books" class="list-group-item list-group-item-action">
        <img src = "/static/book.gif">
        Books
        <img src = "/static/book.gif">
    </a>
    <a href="/gold" class="list-group-item list-group-item-action">
        <img src = "/static/gold.gif">
        Gold
        <img src = "/static/gold.gif">
    </a>
    <a href="/ingredients" class="list-group-item list-group-item-action">
        <img src = "/static/ingred.gif">
        Ingredients
        <img src = "/static/ingred.gif">
    </a>
</div>
{% endblock %}
